@import url('https://fonts.googleapis.com/css2?family=Inka&display=swap');



/*Navbar Section*/
body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.completenav {
  position: sticky;
}


.triangle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 82vw;
  height: 18vh;                       /* #0B66AA, #41B3DD, #3B98C1 */ 
  background: linear-gradient(to right,#0B66AA, #41B3DD, #3B98C1);
  box-shadow: black;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  z-index: -25;
}

.triangle2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 82vw;
  height: 18vh;
  background: linear-gradient(to right,   #3B98C1, #3B98C1, rgba(18, 124, 169));
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
  z-index: -20;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#Logo {
  padding: 1.4vh 0.5vw 0 0;
}

.nav-Link {
  font: Inka, bold;
  font-size: large;
  border-radius: 20%;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-bottom: 0;
  font-size: 22px;
  letter-spacing: normal;

}

.line-sun {
  position: absolute;
  bottom: 70;
  width: calc(11vw + 3%);
  height: 1.5px;
  background-color: #007D23;
  margin-left: 0.5vw;
}

.line-snow {
  width: calc(26vw + 3%);
  height: 1.5px;
  background-color: beige;
  margin-left: 0.5vw;
}

.btn-sun:hover {
  background-color:#3B98C1;
}

.btn-sun {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 32vw 25px 24px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-family: 'Inka', serif;
  font-size: 20px;

  transition-property: background-color;
  transition-duration: 0.5s;

}

.btn-snow {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 20px 24px 25px 32vw;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-family: 'Inka', serif;
  font-size: 20px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.btn-snow:hover {
  background-color: beige;
}

.nav-btn {
  font-size: 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.navbar-toggler {
  z-index: 30;
}

/* Media Query for Small Screens (Mobile) */
@media (max-width: 768px) {
  .top-btn1 .top-btn2 {
    display: none;
  }

  .nav-btn {
    color: black;
  }

  .btn-sun .btn-snow {
    color: black;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px 20px 10px 10px;
    padding: 10px;
    width: 50px !important;
    height: 50px !important;
    z-index: 5;

  }



  .navbar-nav .nav-item {
    text-align: center;
    /* Center the menu items */
  }
}

/*page begin for fitting nav*/
.completenav {
  z-index: 50;
}

.page {
  position: relative;
  top: 0;
  z-index: 1;

}

.transition {
  margin-top: -100px;
}


/*page transition*/
.transition {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 101;
  background-color: var(--dark);
  opacity: 1;
  pointer-events: none;
  transition: transform 0.25s ease-out;
}

.transition.is-active {
  pointer-events: all;
  left: -100%;
  right: 100;
  width: 100%;
  transform: translateX(100%);
  background-color: #5CAA4F;
}

.transition.is-active-2 {
  pointer-events: all;
  left: 100;
  right: -100%;
  width: 100%;
  transform: translateX(-100%);
  background-color: #3B98C1;
}

#sun,
#snowflake {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

/*Booking form*/
form {
  background-color: white;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 10px;
}

form label {
  font-weight: bold;
}

form input[type="submit"] {
  background-color: green;
  color: white;
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 1.5em;
}

form input[type="submit"]:active {
  transform: scale(0.95);
}

.form-row>div {
  padding: 0 10px;
}

.bookbtn {
  display: flex;
  justify-content: center;
  background-color:#3B98C1;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

h2 {
  font-family: inka, bold;
}

/*Side Window*/
body {
  overflow-x: hidden;
  position: relative;
}

.side-window {
  position: fixed;
  bottom: 25%;
  right: -320px;
  width: 320px;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  overflow: auto;
}

.side-window.open {
  right: 0;
}

.side-window .btn-group {
  text-align: center;
  margin: 20px 0;
}

.side-window .btn {
  margin: 0 20px;
}

.side-window .btn-visible {
  display: none;
}

.side-window.open .btn-visible {
  display: block;
}

.vertical-button {
  position: fixed;
  right: -25px;
  top: 65%;
  transform: translateY(-50%) rotate(-90deg);
  z-index: 100;
}

/* Additional custom styles for the form */
.popup-content {
  padding: 20px;
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

/* About section background */
.about {
  background: #f7f7f7;
}

/* Rooms section background */
.rooms {
  background: #fff;
}

/* Footer section styles */
footer {
  padding: 50px 0;
  background-color:#0B66AA;
}
.footerelem{
  padding: 0;
  margin: 0;
}

.ShadowBox{
  box-shadow: 5px rgba(0, 0, 0, 0.2);
}

footer h3 {
  color: #fff;
  margin-bottom: 30px;
}

footer p {
  color: #fff;
  font-size: 18px;
}

footer a {
  color: #fff;
}

.carousel-item {
  max-height: 500px;
  overflow: hidden;
}

.globe {
  font-size: 40px;
  margin: 0;
}

.headred{
  color: #9d102c;
}

/*Dropdown */
.dropdown:hover>.dropdown-menu {
  display: block;
  background-color: whitesmoke;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}